@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;  
}
body {
    background-color: blue;
    background-image: linear-gradient(blue, black);
}
div.container {
    display: flex; 
    flex-wrap: wrap;   
    justify-content: center;
    text-align: center;
    background-color: black;
    background-image: linear-gradient(blue, black); 
}
div.img-titulo{
    flex: auto;    
    
}
.img {
    width: 70%;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px blue;
    
}
div.texto-titulo{
    flex: auto;
    height: 200px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
    
}
div.texto-titulo > h1 {
    color: white;
    font-size: 3em;
    padding-top: 60px;
    margin-left: 20px;
       
}
div.menu {
    display: flex;
    
    justify-content: center;
    text-align: center;
}
div.item-menu {
    flex: auto;
    background-color: aqua;    
    border: 2px solid rgb(255, 255, 255);
    height: 30px;
    list-style: none;               
}
div.item-menu > p {
    padding: 5px;
    background-color: blue;
    color: white;
}
div.quem {
    display: flex;    
    
    text-align: center;
    background-image: url("img/bg01.jpg");
}
div.bloco {
    flex: auto;
   
    border: 3px solid white;
    color: white;
}

.it-quem-img > img {
    height: 250px;
    border-radius: 30px;
    margin-top: 10px;   
    margin-bottom: 15px;
    outline: thick ridge blue;
    
}
.pquem {
    text-shadow: 2px 2px 6px white;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

div.col-rodape {  
    flex: auto;  
    color: white;
    border: 5px solid white;
    border-bottom: 0px;
    height: 100px;         
}
div.col-rodape > ul {
    list-style: none;
    padding-top: 10px;
}
div.col-rodape > li {
    padding-top: 5px;
}
p#ft {
    background-color: brown;
    padding: 10px;
    margin-top: 0px;
    color: white;
    text-align: center;
}
@media (max-width: 800px) {
    div.texto-titulo{
        flex: auto;
        height: auto;
        
        
        
    }
    div.texto-titulo > h1 {
        color: white;
        font-size: 3em;
        padding-top: 60px;
        margin-left: 20px;
           
    }

    
    .quem {
      flex-direction: column;
    }
    .pquem {
        text-shadow: 2px 2px 6px white;
        width: 90%;
        margin-left: 10px ;
        
    }
    .it-quem-img > img {        
        border-radius: 20px;
        box-shadow: 5px 5px 5px blue;    
        outline: transparent;    
        max-width: 70%;
        height: 150px;
    }
    

}
