@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;  
}
body {
    background-color: blue;
    background-image: linear-gradient(blue, black);
}
div.container {
    display: flex; 
    flex-wrap: wrap;   
    justify-content: center;
    text-align: center;
    background-color: black;
    background-image: linear-gradient(blue, black); 
}
div.img-titulo{
    flex: auto;    
    
}
.img {
    width: 70%;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px blue;    
}
div.texto-titulo{
    flex: auto;
    height: 200px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
    
}
div.texto-titulo > h1 {
    color: white;
    font-size: 3em;
    padding-top: 60px;
    margin-left: 20px;       
}
div.texto-titulo > h2 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/* Estilos do menu */
.menu {
    background-color: #333;
    padding: 10px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu-items li {
    margin: 0 15px;
}

.menu-items li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

div.quem {
    display: flex;     
    text-align: center;
    background-image: url("img/bg01.jpg");
}
.bloco-q {
    margin: 0px;
    text-align: center;
    width: 100%;
}
.bl-01 {
    background-color: #f5f5f5a2;
    color: black;
    width: 50vw;
    margin: auto;
    margin-top: 10px;
    border-radius: 30px ;
    padding-bottom: 15px;
    
    
}
div.bloco {
    flex: auto;   
    
    color: white;
}
.bloco h1 {
    color: #007BFF;
}
.it-quem-img > img {
    width: 70%;
    border-radius: 30px;
    margin-top: 10px;   
    margin-bottom: 15px;
    outline: thick ridge blue;
    
}
.sobre {
    color: rgb(235, 175, 10);    
    text-shadow: 2px 2px 4px rgb(255, 255, 255);    
    
}
.sobre1 {
    color: blue;  
    text-shadow: 2px 2px 6px rgb(255, 255, 255); 
    background-color: black;
    opacity: 0.8;
    text-align: center;  
    font-size: 3em;    
}
.pquem {
    text-shadow: 2px 2px 6px white;
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
.bloco2 {
    flex: auto;
    color: white;
    text-align: center;
}
.it-quem-img2 > img {
    height: 250px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px blue;  
    margin-top: 10px;   
    margin-bottom: 15px;
    float: right;
   
}
.it-quem-titulo2 {
    color: white;
    margin-left: 10px;
    max-width: 400px;
    margin-top: 20px;
    
}
.it-quem-texto2 {
    color: white;
    margin-left: 10px;
    max-width: 400px;
    padding-top: 5%;
}
/* Seção Porque */
.container2 {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.why-awg {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.why-awg h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.benefits {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.benefits li {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%;
    max-width: 30%;
}

.benefits h3 {
    font-size: 1.5em;
    color: #007BFF;
    margin-bottom: 10px;
}

.benefits p {
    font-size: 1em;
    color: #666;
}

.cta {
    font-size: 1.2em;
    color: #333;
    margin-top: 30px;
}

div.col-rodape {  
    flex: auto;  
    color: white;    
    border-bottom: 0px;
    height: 170px;         
}
div.col-rodape > ul {
    list-style: none;
    padding: 10px;
    text-align: left;
    margin-left: 10%;
}
div.col-rodape > li {
    padding-top: 5px;
}
.col-rodape h1 {
    text-align: left;
    padding-left: 20px;
}
p#ft {
    background-color: #333;
    padding: 10px;
    margin-top: 0px;
    color: white;
    text-align: center;
}
/* Ajustes para dispositivos móveis */
@media (max-width: 1096px) {
    .img {
        width: 70%;
        height: 150px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 30px;
        box-shadow: 0px 0px 5px blue;
        
    }
    .bl-01 {
        flex: auto;
        width: 80%;
        margin: auto;
        margin-top: 10px;
        border-radius: 30px ;
    }
    .quem {
      flex-direction: column;
    }
    .pquem {
        text-shadow: 2px 2px 6px white;
        width: 90%;
        margin-left: 10px ;
        
    }
    .it-quem-img > img {        
        border-radius: 20px;
        box-shadow: 5px 5px 5px blue;    
        outline: transparent;    
        max-width: 70%;
        height: 150px;
    }



}
@media (max-width: 768px) {
    .benefits {
        flex-direction: column;
        align-items: center;
    }

    .benefits li {
        max-width: 80%;
        flex: 1 1 80%;
    }
    div.texto-titulo{
        flex: auto;
        height: auto;
        
        
        
    }
    div.texto-titulo > h1 {
        color: white;
        font-size: 3em;
        padding-top: 60px;
        margin-left: 20px;
           
    }
    .menu-toggle {
        display: flex;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menu-items.active {
        display: flex;
    }

    .menu-items li {
        margin: 10px 0;
    }

    .menu-items li a {
        font-size: 20px;
    }


    .bl-01 {
        
        width: 80vw;
        margin: auto;
        margin-top: 10px;
        border-radius: 30px ;
    }
    .img {
        width: 70%;
        height: 150px;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 30px;
        box-shadow: 0px 0px 5px blue;
        
    }
    
    .quem {
      flex-direction: column;
    }
    .pquem {
        text-shadow: 2px 2px 6px white;
        width: 90%;
        margin-left: 10px ;
        
    }
    .it-quem-img > img {        
        border-radius: 20px;
        box-shadow: 5px 5px 5px blue;    
        outline: transparent;    
        max-width: 70%;
        height: 150px;
    }
    
}

@media (max-width: 480px) {
    .why-awg h2 {
        font-size: 2em;
    }

    .benefits li {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .benefits h3 {
        font-size: 1.2em;
    }

    .benefits p {
        font-size: 0.9em;
    }

    .cta {
        font-size: 1em;
    }
    .bl-01 {
        
        width: 80vw;
        margin: auto;
        margin-top: 10px;
        border-radius: 30px ;
    }
}

/* Estilos de animação para o menu toggle */
.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

/*----------------------------------------------------------------------------------------------------------------------------------*/
/*----------------CSS SOBRE----------------------------------*/
/* Estilos da seção Sobre Nós */
.s-nos {
    display: flex;    
    flex-wrap: wrap;
    margin: 20px;   
    
}
.s-nos h1 {
    color: white;
    font-size: 4em;
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
    text-shadow: 2px 2px 4px black;
}
.s-nos h2 {
    color: white;     
    margin-top: 10px;
    margin-left: 10px;
    background-image: linear-gradient(to right, rgb(77, 77, 77, 1), rgba(255, 255, 255, 0));
}
.s-nos p {
    max-width: 400px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
.col-s-nos-e {    
    flex: auto;        
    max-height: 400px;
    max-width: 400px;  
    margin-left: 400px;
       
}

.col-s-nos-e img {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    max-height: 80%;
    max-width: 80%;
    border-radius: 0px 20px 0px 20px;
    box-shadow: 5px 5px 8px white;
}
.benefits img {
    max-width: 90%;
    border-radius: 50%;
}
.why-awg2 {
    background-color: blue;
    color: white;
    padding: 50px 0;
    text-align: center;
}
.why-awg2 h2 {
    font-size: 2em;
}

.cta2 {
    color: white;
}
.divisao {
    height: 15px;
    background-color: white;
}
/* Animações */

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .s-nos {
        margin: 5px;
    }
    .col-s-nos-e img {        
        max-width: 100%;
        
    }
    .col-s-nos-e {
        
        margin: 0px;
        
    }
    .s-nos p {
        max-width: 400px;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0px;
        color: white;
    }
    
}
/*--------------------------------------FIM SOBRE--------------------------------*/
/*--------------------------------------SERVIÇOS--------------------------------*/
.serv {
    display: flex;
    flex-wrap: wrap;
    
    margin: 20px;
    color: white;
    
}


.img-serv {
    flex: auto;
    background-image: url("img/com03.jpg");
    background-size: cover;
    min-width: 300px;
    opacity: 0.7;
    border-radius: 25px 0px 25px 0px;
    
}
.cont-serv h1 {
    font-size: 3em;
    color: white;
    background-image: linear-gradient(to right, blue, rgba(255, 255, 255, 0));
    border-radius: 0px 0px 25px 0px;
    padding-left: 5px; 
     
}
.cont-serv {
    flex: auto;    
    
}
.cont-serv h2 {
    padding-left: 5px;
}
.cont-serv ul {
    list-style: georgian;
    padding-left: 5px;
    
}

.cont-serv li {
    margin-left: 50px;
}
.cont-serv p {
    max-width: 400px;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .img-serv {
        height: 150px;
        min-width: 150px;          
    }
}


/*--------------------------------------FIM SERVIÇOS--------------------------------*/
/*--------------------------------------CONTATO--------------------------------*/
.contato {
    display: flex;
    justify-content: center;
    background-image: url("img/bgcontatos.jpg");      
    background-size:cover;
    height: 57vh;
    
}
.dv-contato {
    flex: auto;    
    margin: 50px;
    padding: 50px;
    background-color: white;
    opacity: 0.5;
    border-radius: 10px 10px 10px 10px;
    text-shadow: 2px 2px 6px rgb(209, 106, 22);
}
.dv-contato h1 {
    font-size: 3em;
    padding-bottom: 20px;
}
.dv-contato ul {
    margin-left: 50px;
    
}
.dv-contato p {
    max-width: 500px;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .dv-contato {          
        margin: 10px;
               
    }
    
    .dv-contato ul {
        margin-left: 10px;
        padding-top: 10px; 
        
    }
    .dv-contato p {
        max-width: 500px;
        padding-top: 10px; 
    }
}

/*--------------------------------------FIM CONTATO--------------------------------*/